.App {
  /*display: flex;*/
  /*justify-content: center;*/
  /*flex-wrap: wrap;*/
  width: 40vw;
 margin: 30px auto;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.flexInput{
  display: flex;
  flex-wrap: wrap;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*may style*/
ul,li{
  list-style: none;
  text-align: center;


}
.inputBlock{
  display: flex;
  justify-content: center;
}
.listItem {
  width: 40;
  text-align: left;
}
